/* Your global stylesheet or within your component styles */

/* For Webkit/Blink browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #333;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 6px;
    border: 3px solid #333;
  }
  
  /* For Firefox */
  .scrollbar {
    scrollbar-color: #877c7c #424141;
  }
  