/* Define the rotating text effect */
.gradient-text-btn {
  --bg-size: 400%;
  --color-one: hsl(172, 100%, 50%);
  --color-two: hsl(210, 95%, 61%);
  background: linear-gradient(
      45deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;

  /* Apply animation for the rotating effect */
  animation: rotate-bg 8s linear infinite;
}

i {
  --bg-size: 400%;
  --color-one: hsl(229, 44%, 50%);
  --color-two: hsl(210, 95%, 61%);
  background: linear-gradient(
      45deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;

  /* Apply animation for the rotating effect */
  animation: rotate-bg 8s linear infinite;
}

/* Define the rotating animations */
@keyframes rotate-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

/* Optionally, if you want to reduce motion for users who prefer it */
@media (prefers-reduced-motion: reduce) {
  .gradient-text-btn, i {
    animation: none; /* Disable animations for reduced motion */
  }
}
